/*
 * Forces the orientation to be phone size
 */
html, .nav {
    margin-inline: auto;
    min-width: 32rem;
    width: 100%;
}

/* Temporary solutions */
::-webkit-scrollbar {
    display: none;
}

/* ========================================
 * GLOBALS
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
:root {
    --theme-home-bg-color: var(--clr-neutral-700);
    --theme-categories-bg-color: #192924;
    --theme-settings-bg-color: var(--clr-neutral-700);

    --ff-base: 'Inter', sans-serif;

    --fs-xs: .8rem;
    --fs-sm: 1.2rem;
    --fs-base: 1.6rem;
    --fs-md: 2rem;
    --fs-lg: 2.4rem;
    --fs-xl: 2.8rem;
    --fs-xxl: 3.2rem;

    --fw-700: 700;

    --clr-neutral-100: #fff;
    --clr-neutral-500: #2E2E2E;
    --clr-neutral-600: #1E1E1E; 
    --clr-neutral-700: #151515;
}

/* ========================================
 * RESETS
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font: var(--fs-base) var(--ff-base);
    line-height: 100%;
    color: var(--clr-neutral-100);
}

img,
svg,
video, 
span,
a {
    display: block;
}

img,
svg,
video {
    max-width: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* ========================================
 * REUSABLES
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.h2 {
    font-weight: bold;
    font-size: var(--fs-xl);
    line-height: 150%;
}

[data-state="shown"] {
    display: block !important;
}

[data-state="hidden"] {
    display: none !important;
}

#scroll-top {
    position: fixed;
    inset: 0;
    top: unset;
}

.scroll-top__body {
    display: flex;
    justify-content: flex-end;
}

.scroll-top__body > a {
    --margin: 1rem;
    margin-right: var(--margin);
    margin-bottom: var(--margin);
    border-radius: 5rem;
    background-color: var(--clr-neutral-700);
    padding: 1rem;
    width: fit-content;
    opacity: .8;
}

.scroll-top__body > a > svg {
    width: 2.4rem;
}

/* ========================================
 * BACKGROUND THEMES
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.home {
    background-color: var(--theme-home-bg-color);
}

.articles {
    background-color: var(--theme-categories-bg-color);
}

.settings {
    background-color: var(--theme-settings-bg-color);
}

/* ========================================
 * LOGO
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    margin-right: .5rem;
    max-width: 2.8rem;
}

.logo__text {
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

/* ========================================
 * HOME PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.home-grid {
    display: grid;
    grid-template-rows: 45.344rem auto;
}

.home-header {
    position: relative;
    box-shadow: 0 -30rem 8rem -16rem var(--clr-neutral-700) inset;
}

.home-header::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("../images/snk-hero.webp");
    background-size: cover;
    opacity: .5;
    content: '';
}

.home-header__body {
    background: linear-gradient(180deg, var(--clr-neutral-700) 0%, rgba(21, 21, 21, 0) 100%);
    padding: 2rem 1rem;
}

.home-main {
    margin-bottom: 4.6rem;
}

.home-main__body {
    margin-inline: auto;
    max-width: 45ch;
    padding: 3rem 1rem;
}

.home-main__body > section {
    margin-block: 5rem;
}

.introduction {
    line-height: 250%;
}

.featured {
    padding: 0 !important;
}

.featured > a {
    margin-block: 2rem;
}

/* ========================================
 * CATEGORIES PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.articles-header {
    background-color: var(--theme-categories-bg-color);
    position: fixed;
    inset: 0;
    bottom: unset;
    z-index: 999;
}

.articles-header__body {
    padding: 2rem 1rem
}

.articles-header__title {
    font-weight: var(--fw-700); 
    font-size: var(--fs-md);
}

.card-container {
    margin-inline: auto;
    max-width: 64rem;
    padding-inline: 1rem
}

.articles-main {
    margin-top: 5.6rem;
    margin-bottom: 4.6rem;
}

.card {
    position: relative;
    margin-block: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.card__image {
    max-width: 100%;
}

.card__title-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px -200px 121px -100px rgb(0, 0, 0) inset;

}

.card__title {
    margin-inline: 1rem;
    padding-block: 1.5rem;
    font-weight: var(--fw-700);
    font-size: 3.2rem;
    line-height: initial;
    /* color: black; */
}

/* ========================================
 * ARTICLE PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.article-header {
    position: fixed;
    inset: 0;
    bottom: unset;
    background-image: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.1) 100%);
}

.article-header__body {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}

.article-header__back-btn {
    margin-right: 2rem;
}

.article-header__back-btn > svg {
    width: 2.4rem;
}

.article-header__title {
    font-weight: 700;
    font-size: var(--fs-md);
}

.article-main {
    margin-top: 6rem;
}

.article {
    margin-inline: 1rem;
    line-height: 250%;
}

.article__body {
    margin-inline: auto;
    max-width: 45ch;
}

.article__section {
    margin-block: 5rem;
}

.article__section > p {
    margin-block: 2rem;
}

/* ========================================
 * SETTINGS PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.settings-header {
    background-color: var(--theme-settings-bg-color);
}

.settings-header__body {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}

.settings__back-icon {
    margin-right: 2rem;
}

.settings__back-icon > svg {
    width: 100%;
    max-width: 2.4rem;
}

.settings-header__title {
    font-weight: var(--fw-700); 
    font-size: var(--fs-md);
}

.settings-main > a:focus {
    transition: background-color 50ms ease;
    background-color: var(--clr-neutral-500);
}

.settings-main__about {
    margin-inline: .5rem;
    border-radius: .5rem;
    padding: 2rem .5rem;
    background-color: var(--clr-neutral-600);
}

/* ========================================
 * SETTINGS PAGE / ABOUT
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.settings-about-header {
    position: fixed;
    inset: 0;
    bottom: unset;
    z-index: 999;
}

.settings-about {
    margin-block: 6.4rem 4.6rem;
}

.settings-about__body {
    margin-inline: 1rem;
    padding-block: 1rem;
    line-height: 250%;
}

.settings-about__body > section {   
    margin-inline: auto;
    margin: 5rem auto;
    max-width: 45ch;
}

.settings-about__body p {
    margin-block: 2rem;
}

.settings-about__logo-container {
    text-align: center;
}

.settings-about__logo-img-container {
    margin-block: 2rem;
}

.settings-about__logo-img {
    margin-inline: auto;
    max-width: 15.2rem;
}

.settings-about__quote {
    font-style: oblique;
    opacity: .75;
}

/* ========================================
 * NAVIGATION
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.nav {
    position: fixed;
    inset: 0;
    top: unset;
}

.nav__body {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, var(--clr-neutral-700) 100%);
    padding: .5rem 5rem;
}

.nav__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__icon > svg {
    max-width: 2rem;
}

.nav__icon > span {
    font-size: var(--fs-xs);
}
