/*
 * Forces the orientation to be phone size
 */
html, .nav {
    margin-inline: auto;
    min-width: 32rem;
    width: 100%;
}

/* ========================================
 * GLOBALS
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
:root {
    --theme-home-bg-color: var(--clr-neutral-700);
    --theme-categories-bg-color: #192924;
    --theme-settings-bg-color: var(--clr-neutral-700);

    --ff-base: 'Inter', sans-serif;

    --fs-xs: .8rem;
    --fs-sm: 1.2rem;
    --fs-base: 1.6rem;
    --fs-md: 2rem;

    --fw-700: 700;

    --clr-neutral-100: #fff;
    --clr-neutral-500: #2E2E2E;
    --clr-neutral-600: #1E1E1E; 
    --clr-neutral-700: #151515;
}

/* ========================================
 * RESETS
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font: var(--fs-base) var(--ff-base);
    line-height: 100%;
    color: var(--clr-neutral-100);
}

img,
svg,
video, 
span,
a {
    display: block;
}

img,
svg,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ========================================
 * BACKGROUND THEMES
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.home {
    background-color: var(--theme-home-bg-color);
}

.categories {
    background-color: var(--theme-categories-bg-color);
}

.settings {
    background-color: var(--theme-settings-bg-color);
}

/* ========================================
 * LOGO
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    margin-right: .5rem;
    max-width: 2.8rem;
}

.logo__text {
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

/* ========================================
 * HOME PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.home-grid {
    display: grid;
    grid-template-rows: 45.344rem auto;
}

.home-header {
    position: relative;
    box-shadow: 0 -30rem 8rem -16rem var(--clr-neutral-700) inset;
}

.home-header::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("../images/snk-hero.webp");
    background-size: cover;
    opacity: .5;
    content: '';
}

.home-header__body {
    background: linear-gradient(180deg, var(--clr-neutral-700) 0%, rgba(21, 21, 21, 0) 100%);
    padding: 2rem 1rem;
}

.home-main {
    margin-bottom: 4.6rem;
}

.home-main__body {
    padding: 3rem 1rem;
}

.home-main__body {
    margin-inline: auto;
    max-width: 45ch;
}

.introduction {
    line-height: 200%;
}

/* ========================================
 * CATEGORIES PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.categories-header {
    background-color: var(--theme-categories-bg-color);
}

.categories-header__body {
    padding: 2rem 1rem
}

.categories-header__title {
    font-weight: var(--fw-700); 
    font-size: var(--fs-md);
}

/* ========================================
 * SETTINGS PAGE
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.settings-header {
    background-color: var(--theme-settings-bg-color);
}

.settings-header__body {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}

.settings__back-icon {
    margin-right: 2rem;
}

.settings__back-icon > svg {
    width: 100%;
    max-width: 2.4rem;
}

.settings-header__title {
    font-weight: var(--fw-700); 
    font-size: var(--fs-md);
}

.settings-main > a:focus {
    transition: background-color 50ms ease;
    background-color: var(--clr-neutral-500);
}

.settings-main__about {
    margin-inline: .5rem;
    border-radius: .5rem;
    padding: 2rem .5rem;
    background-color: var(--clr-neutral-600);
}

/* ========================================
 * NAVIGATION
 * ========================================
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
.nav {
    position: fixed;
    inset: 0;
    top: unset;
}

.nav__body {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, var(--clr-neutral-700) 100%);
    padding: .5rem 5rem;
}

.nav__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__icon > svg {
    max-width: 2rem;
}

.nav__icon > span {
    font-size: var(--fs-xs);
}
